= form_for [@user, @todo] , html: { multipart: true } do |f|
  %p
    = f.label "Description"
    = f.text_area "description"
  %p 
    = f.label "Completion Time"
    = f.date_select "completion_time"
    = f.time_select "completion_time", :ignore_date => true
  %p 
    = f.label "Profile(300x300)"
    = f.file_field "image"
  %p
    = f.submit