!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bootstrap Theme Company Page
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    %br/
    .container
      .row
        %p#notice= notice
        %h1 Listing Todos
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Image
              %th Description
              %th Completion Date
              %th status
          %tbody
            - @todos.each do |todo|
              %tr
                %td= todo.image.url
                %td= todo.item
                %td= I18n.l(todo.completion_time, format: "%Y-%m-%d")
                %td= todo.status
                %td.btn-group
                  %button.btn.btn-danger.dropdown-toggle.px-3{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    %span.sr-only Toggle Dropdown
                  .dropdown-menu
                    %ul.dropdown-item
                      = link_to 'Show', todo
                      = link_to 'Edit', edit_todo_path(todo)
                      = link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }

        = link_to 'New Todo', new_todo_path
