<!DOCTYPE html>
<html>
  <head>
    <title>Todo List Management</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <div id="user_nav">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar">name</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Todo List Management", root_path, class: 'navbar-brand' %>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <% if current_user.present? %>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Todo's List", todos_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                  <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="https://www.tutorialrepublic.com/examples/images/avatar/2.jpg" class="avatar" alt="Avatar"> Paula Wilson <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </head>

  <body>

    <%= yield %>
    <% if current_user.present? %>
      <div class="container"> 
        <%= render "layouts/footer" %>
      </div>
    <% end %>
  <script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("image-button");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
      modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
}
  </script>
  </body>
</html>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Todo Management</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <div id="user_nav">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar">name</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Todo Management", root_path, class: 'navbar-brand' %>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <% if current_user.present? %>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Todo's List", todos_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="round-image-50">
                  <div>
                    <button id="image-button"> <%= (current_user.image.url.present? and current_user.image.url != "/avatars/original/missing.png") ? (image_tag(current_user.image.url(:thumb))) : (image_tag("default_avatar_male.jpg")) %> </button>
                  </div>
                  <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                        <%= link_to 'Edit Profile',edit_user_registration_path %>
                        <%= button_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn' %>
                    </div>
                  </div>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </head>

  <body>

    <%= yield %>

  <script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("image-button");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {
      modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
}
  </script>
  </body>
</html> -->